{% extends "base.html" %}
{% load static %}

<!-- block order does not matter -->
{% block title %}
Post a Book
{% endblock title %}

{% block sidenav %}
{% for item in item_list %} <!-- from the views.py in bookMng -->
<li>
    <a class="sidelinks" href="{{ item.link }}">{{ item.item }}</a> <!-- from the /admin page, double braces means we are getting that value -->
</li>
{% endfor %}
{% endblock sidenav %}

{% block content %}
<h1>This is Display Book Page</h1>

{% if submitted %}
<p>Post Book Successfully</p>
{% else %}
<form action="" enctype="multipart/form-data" method="post" novalidate> <!-- multipart/form-data allows entire files to be included in the data and photos -->
    <table>
        {{ form.as_table }}
        <tr>
            <td colspan="1">
                <input type="submit" value="Submit">
            </td>
        </tr>
    </table>
    {% csrf_token %}
</form>
{% endif %}

{% endblock content %}


